
th {
  text-align: left;
}

.container {
 height: 200px;

}

nav {
  float: right;

}

.jumbotron{
  background-image: url("/nomad.jpg");
  height: 400px;
}

h1 {
  padding-top: 100px;
  font-family: 'Kaushan Script', cursive;
  color: white;
}

nav {
  float: right;
}

ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
}

li {
  padding-right: 25px;
  float: left;
}

li a {
  font-color: white;
  color: white;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #5bc0de;


}



#map {
  padding


}

